In [1]:
#importing dependencies
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np

In [2]:
#defining the CSV Variable
US_Chronic_Disease_Indicators1_csv = '../Resources/CSV_files/US_Chronic_Disease_Indicators_Trimmed1.csv'
US_Chronic_Disease_Indicators2_csv = '../Resources/CSV_files/US_Chronic_Disease_Indicators_Trimmed2.csv'

#Reading the csv in as AND NEED TO TAKE OFF THE NROWS (nrows=5)
US_Chronic_Disease_Indicators1_df = pd.read_csv(US_Chronic_Disease_Indicators1_csv, low_memory=False)
US_Chronic_Disease_Indicators2_df = pd.read_csv(US_Chronic_Disease_Indicators2_csv, low_memory=False)

In [3]:
US_Chronic_Disease_Indicators1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85001 entries, 0 to 85000
Data columns (total 25 columns):
YearStart                    85001 non-null int64
YearEnd                      85001 non-null int64
LocationAbbr                 85001 non-null object
LocationDesc                 85001 non-null object
DataSource                   85001 non-null object
Topic                        85001 non-null object
Question                     85001 non-null object
DataValueUnit                84949 non-null object
DataValueType                85001 non-null object
DataValue                    62847 non-null object
DataValueAlt                 62373 non-null float64
DatavalueFootnote            27729 non-null object
LowConfidenceLimit           60910 non-null float64
HighConfidenceLimit          60910 non-null float64
StratificationCategory1      85001 non-null object
Stratification1              85001 non-null object
Geo_Lat                      84433 non-null float64
Geo_Lon                      84433 non-null float64
ResponseID                   5020 non-null object
LocationID                   85001 non-null int64
TopicID                      85001 non-null object
QuestionID                   85001 non-null object
DataValueTypeID              85001 non-null object
StratificationCategoryID1    85001 non-null object
StratificationID1            85001 non-null object
dtypes: float64(5), int64(3), object(17)
memory usage: 16.2+ MB

In [4]:
US_Chronic_Disease_Indicators1_df['DataValueType'].astype(object)

0               Crude Prevalence
1               Crude Prevalence
2               Crude Prevalence
3               Crude Prevalence
4               Crude Prevalence
5               Crude Prevalence
6               Crude Prevalence
7               Crude Prevalence
8                           Mean
9               Crude Prevalence
10                          Mean
11              Crude Prevalence
12              Crude Prevalence
13                          Mean
14              Crude Prevalence
15              Crude Prevalence
16              Crude Prevalence
17              Crude Prevalence
18              Crude Prevalence
19              Crude Prevalence
20              Crude Prevalence
21              Crude Prevalence
22              Crude Prevalence
23                          Mean
24                          Mean
25                          Mean
26       Age-adjusted Prevalence
27              Crude Prevalence
28                          Mean
29              Crude Prevalence
                  ...
84971                 Crude Rate
84972                 Crude Rate
84973                 Crude Rate
84974                 Crude Rate
84975                 Crude Rate
84976                 Crude Rate
84977                 Crude Rate
84978                 Crude Rate
84979                 Crude Rate
84980                 Crude Rate
84981                 Crude Rate
84982                 Crude Rate
84983                 Crude Rate
84984                 Crude Rate
84985                 Crude Rate
84986                 Crude Rate
84987                 Crude Rate
84988                 Crude Rate
84989                 Crude Rate
84990                 Crude Rate
84991                 Crude Rate
84992                 Crude Rate
84993                 Crude Rate
84994                 Crude Rate
84995                 Crude Rate
84996                 Crude Rate
84997                 Crude Rate
84998                 Crude Rate
84999                 Crude Rate
85000                 Crude Rate
Name: DataValueType, Length: 85001, dtype: object

In [6]:
US_Chronic_Disease_Indicators1_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,Stratification1,Geo_Lat,Geo_Lon,ResponseID,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2016,2016,HI,Hawaii,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,7.1,...,Overall,21.304850,-157.857749,NaN,15,DIA,DIA2_2,CRDPREV,OVERALL,OVR
1,2016,2016,ID,Idaho,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,4.7,...,Overall,43.682630,-114.363730,NaN,16,DIA,DIA2_2,CRDPREV,OVERALL,OVR
2,2016,2016,IL,Illinois,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,4.9,...,Overall,40.485010,-88.997710,NaN,17,DIA,DIA2_2,CRDPREV,OVERALL,OVR
3,2016,2016,MN,Minnesota,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,4.9,...,Overall,46.355649,-94.794201,NaN,27,DIA,DIA2_2,CRDPREV,OVERALL,OVR
4,2016,2016,GU,Guam,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,6.3,...,Overall,13.444304,144.793731,NaN,66,DIA,DIA2_2,CRDPREV,OVERALL,OVR

In [7]:
US_Chronic_Disease_Indicators2_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,Stratification1,Geo_Lat,Geo_Lon,ResponseID,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2014,2014,NJ,New Jersey,NVSS,Cardiovascular Disease,Mortality from total cardiovascular diseases,"cases per 100,000",Crude Rate,265.2,...,Female,40.13057,-74.273691,,34,CVD,CVD1_1,CRDRATE,GENDER,GENF
1,2014,2014,NJ,New Jersey,NVSS,Cardiovascular Disease,Mortality from total cardiovascular diseases,"cases per 100,000",Crude Rate,74,...,Hispanic,40.13057,-74.273691,,34,CVD,CVD1_1,CRDRATE,RACE,HIS
2,2014,2014,NJ,New Jersey,NVSS,Cardiovascular Disease,Mortality from total cardiovascular diseases,"cases per 100,000",Crude Rate,254.5,...,Male,40.13057,-74.273691,,34,CVD,CVD1_1,CRDRATE,GENDER,GENM
3,2014,2014,NJ,New Jersey,NVSS,Cardiovascular Disease,Mortality from total cardiovascular diseases,"cases per 100,000",Crude Rate,260,...,Overall,40.13057,-74.273691,,34,CVD,CVD1_1,CRDRATE,OVERALL,OVR
4,2014,2014,NJ,New Jersey,NVSS,Cardiovascular Disease,Mortality from total cardiovascular diseases,"cases per 100,000",Crude Rate,360.4,...,"White, non-Hispanic",40.13057,-74.273691,,34,CVD,CVD1_1,CRDRATE,RACE,WHT

In [9]:
US_Chronic_Disease_Indicators1_df.shape

(85001, 25)

In [10]:
US_Chronic_Disease_Indicators2_df.shape

(95091, 25)

In [11]:
US_Chronic_Disease_Indicators1_df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'DataValueUnit', 'DataValueType', 'DataValue',
       'DataValueAlt', 'DatavalueFootnote', 'LowConfidenceLimit',
       'HighConfidenceLimit', 'StratificationCategory1', 'Stratification1',
       'Geo_Lat', 'Geo_Lon', 'ResponseID', 'LocationID', 'TopicID',
       'QuestionID', 'DataValueTypeID', 'StratificationCategoryID1',
       'StratificationID1'],
      dtype='object')

In [12]:
#importing dependencies for mysql connection
import pymysql
pymysql.install_as_MySQLdb()

#just have to change this to your password for local access to your sqlsql database
sql_password = 'CassiusClay2!'
db_name = 'Health_Trend_Project_db'

#connecting to my sql database
rds_connection_string = "root:"+sql_password+"@127.0.0.1/"+db_name
engine = create_engine(f'mysql://{rds_connection_string}')

In [13]:
engine.table_names()

['national_health_expenditures_data', 'us_chronic_disease_indicators_data']

In [14]:
#Loading data to kickstarter mysql table
US_Chronic_Disease_Indicators1_df.to_sql(name='us_chronic_disease_indicators_data', 
                                                con=engine, if_exists='replace', index=False,
                                               chunksize=10)

In [16]:
US_Chronic_Disease_Indicators2_df.to_sql(name='us_chronic_disease_indicators_data', 
                                         con=engine, if_exists='append', index=False,
                                        chunksize=10)